- if current_user.present?
  %div.buttons.float-end
    =link_to "Edit Article", edit_article_path, class: 'btn btn-warning'
    =link_to "Delete Article", article_path(@article), method: "delete", class: 'btn btn-danger', data: { confirm: "Are you sure?" }

%h2= @article.title
- if @article.image.present?
  =image_tag(@article.image, class: 'article-image')
%p= @article.body
%br

%p= @article.likes.count.to_s + " Likes"
- if current_user.present?
  - if @article.likes.where(user_id: current_user.id).present?
    =link_to " Unlike", like_path(id: @article.id)
  - else
    =link_to " Like", like_path(id: @article.id)


=link_to "Back", root_path
=render "comments/form"
=render "comments/comments"